*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  min-inline-size: 1140px;
  display: inline-flex;
  padding: 135px 30px;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}

.content__details {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.content__details::-webkit-scrollbar {
  width: 0;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  z-index: 1;
}

.result__video {
  object-fit: cover;
  inline-size: 711px;
  block-size: 386px;
}

.search-form {
  display: inline-flex;
  justify-content: space-between;

}

.search-form__fieldset {
  border: none;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;

}

.search-form__textfield {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  min-width: 225px;
  min-height: 27px;
  align-items: center;
  gap: 10px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-right: none;
  border-left: none;
  
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  gap: 5px;
  cursor: pointer;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: inline-block;
  background-color: #fff;
  width: 15px;
  height: 15px;
  margin: auto;
}

.search-form__pseudo-checkbox:has(:focus) {
  outline: none;
}

.search-form__pseudo-checkbox:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  display: flex;
  min-width: 194px;
  align-self: end;
}

.search-form__label {
  display: inline;
  width: fit-content;
  margin-right: 5px;
}

.button {
  color: #FFF;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  border: 1px solid #FFF;
  height: 34px;
  gap: 10px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline #fff;
  text-underline-position: under;
}

.button:active {
  border: 1px solid #FFF;
  background: #545050;
  text-decoration: none;
}

.content__list {
  height: 534px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin-top: 26px;
  position: relative;
  z-index: 1;
  block-size: 300px;

}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.title {
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;

}

.content__accent {
  color: #545050;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;

}

.cards-list-item-template {
  display: flex;
  flex-direction: row;
}

.content__video-card{
  display: inline-grid;
  grid-template-columns: repeat(2, 50%);
  gap: 30px;
  justify-content: space-between;
  min-width: 394px;
}

.content__video-card:hover {
  text-decoration: underline #fff;
  text-underline-position: under;
}

.content__video-card:last-child{
  gap: 0px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  max-height: 103px;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.content__video-card-description-container {
  width: 100%;
}

.content__card-link {
  text-decoration: none;
  padding: 2px;
}

.more-button {
  min-width: 399px;
}

.preloader {
  position: relative;
  z-index: 0;
}

.content__card-link_current {
  background-color: #545050;
  display: flex;
  width: 394px;
  align-items: flex-start;
}

.focus {
  outline: none;
}

.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(:hover) {
  text-decoration: underline #fff;
  text-underline-position: under;
}

